AssignmentOne-CYCC/.vs/
AssignmentOne-CYCC/AssignmentOne-CYCC/appsettings.json
AssignmentOne-CYCC/AssignmentOne-CYCC/bin/
AssignmentOne-CYCC/AssignmentOne-CYCC/obj/
AssignmentOne-CYCC/RazorHtmlEmails.RazorClassLib/obj/
Examples/HIT339 Assignment1/obj/
