/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

:root {
    --Bg: #ffffff;
    --BgAlt: #f2f7f8;
    --Logo: #260d45;
    --Highlight: #1b7887;
    --Text-Colour: #000000;
    --Text-Hover: #186371;
    --Button-Hover: #e7f3f5;
}


/*a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}*/

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 16px;
  color: var(--Text-Colour);
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */

  background-color: var(--Logo);
}

/* =============== CUSTOM =============== */

/* Genreal Styles*/
.logo {
    height: 9rem;
    padding-right: 5rem;
    padding-right: 5rem;
}

.navbar {
    padding: 0.5rem 1rem 0 1rem;
    border-bottom: solid 20px var(--Highlight);
}

.navbar-nav {
    font-size: 1.2rem;
}

.nav-item {
    /*    margin: 10px;*/
    border-bottom: solid 2px transparent;
    color: black;
    font-weight: bold;
}

.nav-item:hover {
    background-color: var(--Button-Hover);
    border-bottom: solid 2px var(--Highlight);
}

.home {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-bottom: 2rem;
}

.search-form {
    margin-bottom: 10px;
}

#home-image {
    width:max-content;
}


/* Table Styles
---------------tr[data-href]:hover,----------------------------------- */
.table-select tbody tr:hover {
    background-color: lightgray;
}
.table-select tbody tr:hover [data-href] {
        cursor: pointer;
}
table td img.row-icon {
    width: 20px;
    margin: 2.5px;
}
table.table tbody td:last-child {
    min-width: 80px;
}


/* General Page Styles 
-----------------------------------------------------------------------*/
img.click-icon {
    min-width: 20px;
    width: 30px;
    margin: 5px;
}

/* Success and Error Boxes
-----------------------------------------------------------------------*/
div.success, div.error {
    padding: 10px;
    text-align: center;
    margin-bottom: 20px
}
div.success {
    background-color: rgb(0 255 33);
    border: 2px rgb(0 206 27);
}
div.error {
    background-color: rgb(255 97 97);
    border: 2px rgb(202 43 43);
}

/* Loading icon
-----------------------------------------------------------------------*/
div.loadingGifContainer {
    text-align: center;
}

.loadingGif {
    margin: auto;
    max-height: 40px;
    margin-bottom: 20px;

    transition-property: display;
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
}





@media (max-width: 1000px) {
    html {
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    html {
        font-size: 12px;
    }
}