@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6">CDU Centre for Youth and Community Music Invoice System</h1>
    <p>This system is designed to provide an easy and effective method for creating new student lessons.
    The booking service also allows for the efficient compilation, sending of invoices, and archiving of old invoices.
    Please use the navbar to navigate the site, new records can be created using any of the models accessible above.</p>
</div>
