@model AssignmentOne_CYCC.Models.Lesson

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Lesson</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <select asp-for="StudentId" class ="form-control" asp-items="ViewBag.StudentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="InstrumentId" class="control-label"></label>
                <select asp-for="InstrumentId" class ="form-control" asp-items="ViewBag.InstrumentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TutorId" class="control-label"></label>
                <select asp-for="TutorId" class ="form-control" asp-items="ViewBag.TutorId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DurationId" class="control-label"></label>
                <select asp-for="DurationId" class ="form-control" asp-items="ViewBag.DurationId"></select>
            </div>
            <div class="form-group">
                <label asp-for="term" class="control-label"></label>
                <input asp-for="term" class="form-control" />
                <span asp-validation-for="term" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="year" class="control-label"></label>
                <input asp-for="year" class="form-control" />
                <span asp-validation-for="year" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="LessonTime" class="control-label"></label>
                <input asp-for="LessonTime" class="form-control" />
                <span asp-validation-for="LessonTime" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Paid" /> @Html.DisplayNameFor(model => model.Paid)
                </label>
            </div>
            <div class="form-group">
                <label class="control-label">Repeat lesson weekly</label>
                <input type="checkbox" name="Repeat" id="RepeatCB" value="Repeat" />
            </div>
            <div class="form-group Repeat" style="display: none;">
                <label class="control-label" for="weeksToRepeat">length (in weeks including the initial)</label>
                <input type="text" name="weeksToRepeat" id="weeksToRepeat" value="1" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function ($) {
            $("#RepeatCB").click(function () {
                var inputValue = $(this).attr("value");
                $("." + inputValue).toggle();
            })
        });
    </script>
}
