@model IEnumerable<AssignmentOne_CYCC.Models.Invoice>

@{
    ViewData["Title"] = "SendEmail";
}


@if (ViewBag.success != null) {
<h1>Email Sent</h1>
<p>@ViewBag.success</p>
} else if (ViewBag.error != null) {
<p>@Html.Raw(ViewBag.error)</p>
} else {
<p>ERROR</p>
}

<a asp-controller="Invoices" asp-action="Index">Back</a>
