@model HIT339_Assignment1.Models.Lesson

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Lesson</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="studentID" class="control-label"></label>
                <select asp-for="studentID" class="form-control" asp-items="ViewBag.studentID"></select>
                <span asp-validation-for="studentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="instrumentID" class="control-label"></label>
                <select asp-for="instrumentID" class="form-control" asp-items="ViewBag.instrumentID"></select>
                <span asp-validation-for="instrumentID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tutorID" class="control-label"></label>
                <select asp-for="tutorID" class="form-control" asp-items="ViewBag.tutorID"></select>
                <span asp-validation-for="tutorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Term" class="control-label"></label>
                <input asp-for="Term" class="form-control" />
                <span asp-validation-for="Term" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateTime" class="control-label"></label>
                <input asp-for="dateTime" class="form-control" />
                <span asp-validation-for="dateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="durationID" class="control-label"></label>
                <select asp-for="durationID" class="form-control" asp-items="ViewBag.durationID"></select>
                <span asp-validation-for="durationID" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isPaid" /> @Html.DisplayNameFor(model => model.isPaid)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
